/* 
 -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
                                  COLORS
 -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
*/
.left-lt {
    background-color: rgb(162, 211, 155);
}
.left-rt {
    background-color: rgb(97, 8, 43);
}
.left-lb {
    background-color: rgb(0, 147, 206);
}
.left-rb {
    background-color: rgb(255, 28, 28);
}
.right-lt {
    background-color: rgb(213, 0, 31);
}
.right-rt {
    background-color: rgb(180, 208, 231);
}
.right-lb {
    background-color: rgb(13, 36, 129);
}
.right-rb {
    background-color: rgb(255, 216, 48);
}
.logos-center {
    background-color: rgb(245, 245, 245);
}
/* 
 -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
                                  DIMENSIONS
 -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
*/
.left-lt img {
    width: 30%;
}
.left-rt img {
    width: 30%;
}
.left-lb img {
    width: 30%;
}
.left-rb img {
    width: 30%;
}
.right-lt img {
    width: 30%;
}
.right-rt img {
    width: 30%;
}
.right-lb img {
    width: 30%;
}
.right-rb img {
    width: 30%;
}
/* 
 -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
                                  TRANSISTION
 -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
*/