/*     PALETTE COLORI 
    Neon blue: rgb(0, 97, 255)
    Columbia blue: rgb(180, 208, 231)
    Celadon: rgb(162, 211, 155)
    Tyrian purple: rgb(97, 8, 43)
    White smoke: rgb(245, 245, 245)
    Fire engine red: rgb(213, 0, 31)
    Blue (NCS): rgb(0, 147, 206)
    Red: rgb(255, 28, 28)
    Resolution Blue: rgb(13, 36, 129)
    Gold: rgb(255, 216, 48) 
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
.container {
    background-color: white;
    width: 100%;
}
/* 
 -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
                                   FIXED UPPER BAR
 -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
*/
.fixed-upper-bar {
    position: fixed;
    height: 50px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    background-color: white;
    z-index: 1;
}
.upper-left {
    display: flex;
    width: 35%;
    justify-content: space-around;
    align-items: center;
}
.upper-right {
    display: flex;
    width: 30%;
    justify-content: space-around;
    align-items: center;
}
.upper-left a, .upper-right a {
    text-decoration: none;
    color: black;
}
.button-bg {
    background-color: rgb(0, 97, 255);
    padding: 5px 10px;
}
.button-bg:hover {
    background-color: rgb(71, 142, 255);
}
.start a {
    color: white;
}
/* 
 -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
                                   JUMBOTRON
 -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
*/
.jumbo-container {
    width: 100%;
    background-color: rgb(180, 208, 231);
    padding-top: 50px;
}
.jumbo {
    width: 70%;
    margin: 10vh auto;
}
.jumbo h1 {
    width: 100%;
    font-size: 66px;
    margin-bottom: 5%;
}
.jumbo-group {
    display: flex;
    width: 120%;
}
.jumbo-text {
    width: 32%;
    margin-right: 10px;
    text-align: start;
}
.jumbo-text p {
    margin-bottom: 10%;
}
.jumbo-text .down-arrow {
    font-size: 48px;
    margin-top: 15%;
    
}
.jumbo-text .down-arrow a {
    color: black;
}
.free-trial {
    width: 61%;
    margin-bottom: 7%;
}
.free-trial a {
    color: white;
    text-decoration: none;
}
.jumbo-text .button-bg {
    padding: 7px 10px;
}
.jumbo-img  {
    width: 45%;
}
.jumbo-img img {
    width: 120%;
    height: 120%;
}
/* plans
 -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
                                   PLANS
 -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
*/
.sub-container {
    width: 60%;
    margin: 0 auto;
}
#plan-for-you {
    padding: 5% 0;
}
.business-plan {
    width: 100%;
}
.business-plan h1 {
    font-size: 40px;
}
.payment {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 8%;
    margin-bottom: 8%;
}
.checkbox-round {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid gray;
    appearance: none;
    margin-right: 5px;
}
.checkbox-round:checked {
    border: 4px solid rgb(0, 97, 255);
}
.offers-container {
    display: flex;
    gap: 20px;
}
.professional, .advanced, .enterprise {
    border: 1px solid gray;
    width: calc(100%/3 - 20px);
    padding-bottom: 10%;
}
.user {
    text-align: center;
    padding: 6px;
    border-bottom: 1px solid gray;
}
.description {
    width: 80%;
    margin: 10% auto;
}
.packet {
    line-height: 185%;
}
.price {
    font-weight: bold;
    font-size: 14px;
}
.how-often {
    color: gray;
    font-size: 14px;
}
.packet-content {
    margin: 15% 0;
    display: flex;
    flex-direction: column;
}
.thirty-days-trial {
    text-align: center;
    margin-bottom: 10%;
}
.description a {
    text-decoration: none;
    color: white;
}
.description .buy-now {
   color: rgb(0, 97, 255);
   text-decoration: underline; 
}
.description .breaking-line {
    margin: 20% 0;
    width: 20%;
    height: 0.5px;
    background-color: gray;
}
.focus-point h4 {
    margin-bottom: 10%;
}
.focus-point ul {
    list-style: none;
}
.point-container {
    display: flex;
    margin-bottom: 10%;
}
.bullet-point {
    margin-right: 5%;
}
.offers-container .fa-solid {
    margin-right: 2%;
}
.enterprise-contact {
    border: 1px solid gray;
    margin-top: 10%;
 
}
.contact-us {
    width: 95%;
    margin: 3% auto;
    display: flex;
}
.contact-text {
    width: 75%;
}
.contact-text h2 {
    margin-bottom: 2%;
}
.contact-text h4 {
    margin-bottom: 15%;
}
.contact-button {
    width: 100%;
}
.contact-us a {
    color: white;
    text-decoration: none;
}
/* find partner
 -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
                                   FIND PARTNER
 -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
*/
.find-partner {
    width: 100%;
    display: flex;
    margin-top: 15%;
}
.find-image {
    width: 60%;
}
.find-text {
    width: 30%;
    margin: 5% auto;
}
.find-image img {
    width: 100%;
    object-fit: cover;
}
.find-text a {
    color: black;
    text-decoration: none;
    margin-top: 3%;
}
.find-text p {
    margin-top: 5%;
}
.partner-button {
    width: 60%;
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    margin-top: 10%
}
.partner-button:hover {
    background-color: rgb(245, 245, 245);
}
/* multi operation
 -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
                                   MULTI OPERATION
 -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
*/
.multi-operation {
    margin: 15% 0 5%;
}
.operation-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
/*     margin-top: 5%; */
}
.operation-box {
    width: calc(100%/3 - 20px);
}
.operation-box img {
    width: 100%;
}
/* many teams
 -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
                                   MANY TEAMS
 -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
*/
.many-teams {
    margin-top: 20%;
    margin-bottom: 5%;
}
.about-customers {
    color: rgb(0, 97, 255);
}
.logos-container {
    width: 100%;
    display: flex;
    position: relative
}
.logos-left, .logos-center, .logos-right {
    width: calc(100%/3);
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
}
.customer-logo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 19.5% 0;
}
.hide, .hide1, .hide2, .hide3  {
    display: none;
    font-size: 14px;
}
.hide .breaking-line, .hide1 .breaking-line, .hide2 .breaking-line, .hide3 .breaking-line {
    width: 10%;
    background-color: gray;
    height: 1px;
    margin: 5% 0;
}
.quote {
    margin-top: 10%;
}
/* take dropbox
 -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
                                   TAKE DROPBOX
 -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- 
*/
.take-dropbox {
    width: 100%;
    background-color: rgb(180, 208, 231);
    padding: 5% 0;
}
.take-dropbox .sub-container {
    display: flex;
    justify-content: center;
    align-items: top;
    height: 100%;
}
.take-dropbox a {
    text-decoration: none;
    color: black;
    height: 100%;
}
.take-text {
    width: 50%;
}
.take-button {
    background-color: white;
    padding: 5px 10px;
}
.take-button:hover {
    background-color: rgb(245, 245, 245); 
}
/* f.a.q
 -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
                                   F.A.Q
 -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- 
*/
.faq {
    margin: 10% 0;
}
.faq h2 {
    margin-bottom: 5%;
}
.faq .breaking-line {
    width: 100%;
    background-color: gray;
    height: 1.5px;
    margin: 3% 0 ;
}
.question {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
.question-line:hover .hide {
    display: block;
    margin-top: 3%;
    color: gray;
}
/* bottom navigator
 -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
                                   BOTTOM NAVIGATOR
 -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
*/
.nav-footer {
    width: 100%;
    background-color: black;
}
.footer-container {
    width: 70%;
    margin: 0 auto;
}
.nav-container {
    
    color: white;
    display: flex;
    justify-content: space-between;
}
.nav-bottom-menu {
    width: calc(100%/5 - 20px);
    margin: 10% 0;
}
.nav-bottom-menu ul {
    list-style: none;
}
.nav-bottom-menu .nav-title {
    font-weight: bold;
    margin-bottom: 15%;
}
.nav-bottom-menu li {
    margin-top: 10%;
}
.nav-footer .breaking-line {
    background-color: gray;
    height: 1.5px;
    width: 10%;
    
}
.nav-footer .language {
    color: gray;
    padding: 5% 0 ;
}
.nav-footer .fa-solid {
    margin-right: 1%;
    margin-left: 0.5%;
    vertical-align: middle;
}